/* Extra small devices (phones, 600px and down) */
@media
  only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 600px),
  only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 600px),
  only screen and (   -o-min-device-pixel-ratio: 2/1) and (max-width: 600px),
  only screen and (        min-device-pixel-ratio: 2) and (max-width: 600px),
  only screen and (           min-resolution: 192dpi) and (max-width: 600px),
  only screen and (            min-resolution: 2dppx) and (max-width: 600px) {
  .bgDevice {
    width: 100%;
    height: 10px;
    background: gray;
  }
  .bgKabarArdy {
    background: url('/images/brickwall2.png') repeat;
  }
  .bgVideo {
    background: url('/images/escheresque_ste.png') repeat;
  }
  .headerMobile { display: block; }
  .headerDesktop { display: none; }
  .centerLogo {
    width: 100%;
    margin: 10px auto 0 auto;
  }
  button.slick-arrow.slick-prev, button.slick-arrow.slick-next {
    top: 50%!important;
  }
  .iframeYutub { width: 90%; height: 210px; }
  .fotoDesktopSekilasArdy { display: none; }
  .fotoMobileSekilasArdy { display: block; }
  .imgFotoMobileSekilasArdy { display: table; width: 70%; margin: 0 auto 20px auto; }
  .pArdy { padding: 5px 15px; font-size: 16px; }
  .h3ArdySekilas { text-align: center; }
  .btnSekilas { display: table; margin: 0 auto!important; }
  .paddingSection { padding-top: 60px; padding-bottom: 60px; }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 600px),
  only screen and (   min--moz-device-pixel-ratio: 2) and (min-width: 600px),
  only screen and (   -o-min-device-pixel-ratio: 2/1) and (min-width: 600px),
  only screen and (        min-device-pixel-ratio: 2) and (min-width: 600px),
  only screen and (           min-resolution: 192dpi) and (min-width: 600px),
  only screen and (            min-resolution: 2dppx) and (min-width: 600px) {
  .bgDevice {
    width: 100%;
    height: 10px;
    background: blue;
  }
  .bgKabarArdy {
    background: url('/images/brickwall2.png') repeat;
  }
  .bgVideo {
    background: url('/images/escheresque_ste.png') repeat;
  }
  .headerMobile { display: block; }
  .headerDesktop { display: none; }
  .centerLogo {
    width: 100%;
    margin: 10px auto 0 auto;
  }
  button.slick-arrow.slick-prev, button.slick-arrow.slick-next {
    top: 100px!important;
  }
  .iframeYutub { width: 90%; height: 270px; }
  .fotoDesktopSekilasArdy { display: none; }
  .fotoMobileSekilasArdy { display: block; }
  .imgFotoMobileSekilasArdy { display: table; width: 70%; margin: 0 auto; }
  .pArdy { padding: 5px 10px!important; font-size: 18px; text-align: center }
  .h3ArdySekilas { text-align: center; }
  .paddingSection { padding-top: 100px; padding-bottom: 100px; }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bgDevice {
    width: 100%;
    height: 10px;
    background: green;
  }
  .headerMobile { display: none; }
  .headerDesktop { display: block; }
  .centerLogo {
    width: 150%;
    margin-left: -25%!important;
  }
  button.slick-arrow.slick-prev, button.slick-arrow.slick-next {
    top: 150px!important;
  }
  .logoNameCaleg { font-size: 34px; }
  .calonDapil { letter-spacing: 0.3px; }
  .slogan { display: table; font-size: 25px }
  .ardyKuat { height: 100px; margin-right: 0px; }
  .iframeYutub { width: 70%; height: 280px; }
  .fotoDesktopSekilasArdy { display: none; }
  .fotoMobileSekilasArdy { display: block; }
  .imgFotoMobileSekilasArdy { display: table; width: 100%; margin: 20px auto; }
  .h3ArdySekilas { text-align: left; } 
  .pArdy { padding: 0!important; text-align: left; }
  .btnSekilas { display: table; margin: 0!important; }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .bgDevice {
    width: 100%;
    height: 10px;
    background: yellow;
  }
  .headerMobile { display: none; }
  .headerDesktop { display: block; }
  .centerLogo {
    width: 100%;
    margin: 10px auto 0 auto!important;
  }
  button.slick-arrow.slick-prev, button.slick-arrow.slick-next {
    top: 200px!important;
  }
  .logoNameCaleg { font-size: 45px; }
  .calonDapil { letter-spacing: 3.6px; }
  .slogan { font-size: 30px; float: right; }
  .ardyKuat { height: 130px; }
  .iframeYutub { width: 60%; height: 320px; }
  .fotoDesktopSekilasArdy { display: none; }
  .fotoMobileSekilasArdy { display: block; }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .bgDevice {
    width: 100%;
    height: 10px;
    background: red;
  }
  .headerMobile { display: none; }
  .headerDesktop { display: block; }
  .centerLogo {
    width: 100%;
    margin: 10px auto 0 auto!important;
  }
  button.slick-arrow.slick-prev, button.slick-arrow.slick-next {
    top: 250px!important;
  }
  .logoNameCaleg { font-size: 45px; }
  .calonDapil { letter-spacing: 3.6px; }
  .slogan { font-size: 30px; float: right; }
  .ardyKuat { height: 130px; }
  .iframeYutub { width: 60%; height: 375px; }
  .fotoDesktopSekilasArdy { display: block; }
  .fotoMobileSekilasArdy { display: none; }
}
