/* HEADER UNIT */
.bgRakyat {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/images/rakyat.png') repeat;
  z-index: -2;
  top: 0;
  opacity: 0.2;
}
.centerLogo {
  width: 90%;
  display: table;
  margin: 10px auto 0 auto;
}
.menuDesktopWrap {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29a84d+1,78c43a+100 */
background: rgb(41,168,77); /* Old browsers */
background: -moz-linear-gradient(left, rgba(41,168,77,1) 1%, rgba(120,196,58,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(41,168,77,1) 1%,rgba(120,196,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(41,168,77,1) 1%,rgba(120,196,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a84d', endColorstr='#78c43a',GradientType=1 ); /* IE6-9 */
}
.menuDesktop {
  /* background: gray; */
  position: relative;
}
.menuDesktop > ul {
  margin: 0;
  padding: 0;
}
.menuDesktop > ul > li {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.menuDesktop > ul > li > a {
  color: white!important;
  float: left;
  padding: 10px 15px;
}
.menuDesktop > ul > li:hover > a {
  background: #075621;
  color: white;
}
.sosmedMenu {
  position: absolute;
  right: 0;
  top: 0;
  color: white
}
.sosmedMenu > ul > li {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
.sosmedMenu > ul > li > a {
  /* background: red !important; */
}
.btnSosmed {
  padding: 5px !important;
  background: none!important;
  margin: 0!important;
  background: #55a825!important;
}
.btnSosmed:hover {
  background: #48961c!important;
  color: black!important;
}
.btn-secondary {
  color: #fff;
  background-color: none!important;
  border: none!important;
}
.iconSosmed {
  color: white;
}
.iconSosmed:hover {
  /* color: yellow; */
}


/* SLIDER UNIT */
.sliderWrap {
  width: 100%;
  margin: 0 auto!important;
  position: relative;
  background: url('/images/darkdenim32.png') repeat;
  padding-bottom: -20px!important;
}
.vignete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&0+25,0.66+100 */
  background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.66) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a8000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.logoNameCaleg {
  font-size: 45px;
  display: table;
  font-family: Volkhov;
  font-weight: bold;
  font-size: 45px;
  padding: 0;
  margin: 0;
  color: #ffe571;
  margin-top: 20px;
  position: relative;
  text-shadow: 2px 2px 3px #011605;
}

.calonDapil {
  display: table;
  font-weight: bold;
  color: white;
  margin-top: -10px;
  letter-spacing: 3.6px;
  text-shadow: 2px 2px 5px #000000;
}
.slogan {
  font-size: 30px;
  font-family: La Belle Aurore;
  line-height: 1.3em;
  color: white;
  margin-top: 35px;
  float: right;
  text-shadow: 2px 2px 3px #082900;
}
.paddingSection {
  padding-top: 100px;
  padding-bottom: 100px;
}
.bgSekilasArdy {
  /* background: #238D45; */

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#74b22c+0,238d45+52,1a6b39+100 */
background: rgb(116,178,44); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(116,178,44,1) 0%, rgba(35,141,69,1) 52%, rgba(26,107,57,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(116,178,44,1) 0%,rgba(35,141,69,1) 52%,rgba(26,107,57,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(116,178,44,1) 0%,rgba(35,141,69,1) 52%,rgba(26,107,57,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74b22c', endColorstr='#1a6b39',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

/* background: rgb(35,141,69);
background: -moz-linear-gradient(top, rgba(35,141,69,1) 0%, rgba(26,107,57,1) 100%); 
background: -webkit-linear-gradient(top, rgba(35,141,69,1) 0%,rgba(26,107,57,1) 100%);
background: linear-gradient(to bottom, rgba(35,141,69,1) 0%,rgba(26,107,57,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#238d45', endColorstr='#1a6b39',GradientType=0 ); */
}
.bgKabarArdy {
  background: url('/images/brickwall2.png') repeat;
}
.bgVideo {
  background: url('/images/escheresque_ste.png') repeat;
}
.pArdy {
  font-size: 20px;
  color: white;
}