/* HEADER UNIT */
.bgRakyat {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/images/rakyat.png') repeat;
  z-index: -2;
  top: 0;
  opacity: 0.2;
}
.centerLogo {
  width: 90%;
  display: table;
  margin: 10px auto 0 auto;
}
.menuDesktopWrap {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29a84d+1,78c43a+100 */
background: rgb(41,168,77); /* Old browsers */
background: -moz-linear-gradient(left, rgba(41,168,77,1) 1%, rgba(120,196,58,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(41,168,77,1) 1%,rgba(120,196,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(41,168,77,1) 1%,rgba(120,196,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a84d', endColorstr='#78c43a',GradientType=1 ); /* IE6-9 */
}
.menuDesktop {
  /* background: gray; */
  position: relative;
}
.menuDesktop > ul {
  margin: 0;
  padding: 0;
}
.menuDesktop > ul > li {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.menuDesktop > ul > li > a {
  color: white!important;
  float: left;
  padding: 10px 15px;
}
.menuDesktop > ul > li:hover > a {
  background: #075621;
  color: white;
}
.sosmedMenu {
  position: absolute;
  right: 0;
  top: 0;
  color: white
}
.sosmedMenu > ul > li {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
.sosmedMenu > ul > li > a {
  /* background: red !important; */
}
.btnSosmed {
  padding: 5px !important;
  background: none!important;
  margin: 0!important;
  background: #55a825!important;
}
.btnSosmed:hover {
  background: #48961c!important;
  color: black!important;
}
.btn-secondary {
  color: #fff;
  background-color: none!important;
  border: none!important;
}
.iconSosmed {
  color: white;
}
.iconSosmed:hover {
  /* color: yellow; */
}


/* SLIDER UNIT */
.sliderWrap {
  width: 100%;
  margin: 0 auto!important;
  background: url('/images/darkdenim32.png') repeat;
  padding-top: 17px;
  padding-bottom: 15px;
  position: relative;
}
.vignete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&0+25,0.66+100 */
  background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.66) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a8000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.slides {
  display: table;
  -webkit-box-shadow: 0 0 10px 1px #000000;
  box-shadow: 0 0 10px 1px #000000;
  margin-bottom: -5px!important;
}
button.slick-arrow.slick-prev {
  position: absolute;
  left: 0px;
  top: 250px;
  z-index: 10!important;
  background: black;
  width: 40px;
  height: 50px;
  padding-left: 10px;
  opacity: 0.5;
}
button.slick-arrow.slick-next {
  position: absolute;
  right: 0px;
  top: 250px;
  z-index: 10!important;
  background: black;
  width: 40px;
  height: 50px;
  padding-left: 10px;
  opacity: 0.5;
}
.slick-dots {
  /* position: absolute; */
  bottom: 20px!important;
  /* display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; */
}